@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('truetype');
  }

body {
  background-color: #84E1AD;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

header {
    background-image: linear-gradient(180deg, #39CD7B 20% , #1A5C38); 
    color: white;
    padding: 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.308);
    
}

header > h1 {
  text-transform: uppercase;
  text-align: center;
}

header > p {
  text-align: center;
}
.destaque {
  color: #1A5C38;
  font-weight: bolder;
}
nav > a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav > a:hover {
  text-decoration: underline;
    font-weight: bolder;
}

main {
  background-color: white;
  padding: 10px;
  margin: 0px 18%;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.308);
}
main > h1 {
  font-family: 'idroid';
  color: #1A5C38;
  margin: 5px;
  padding: 5px;
}

main > h2 {
  font-family: 'idroid';
  background-image: linear-gradient(90deg, #aaebc7, white);
  color: #1A5C38; 
}

main > p {
  text-indent: 20px;
  text-align: justify;
  padding: 0px 35px 20px 20px;
}

p > a {
  text-decoration: none;
  color: #1A5C38;
  font-weight: bolder;

}

p > a::after {
  content: ' \1F517';
}

p > a:hover {
  text-decoration: underline;
} 

main > img {
  display: block;
  margin: 0px auto
}

#video {
  background-color: #1A5C38;
  padding: 20px;
  
}

#extra {
  background-color: #C5EBD6;
  padding: 0px 10px 10px 20px;
  border-radius: 0px 0px 10px 10px;

}
#ex {
  background-color: #2FA866;
  color: white;
  font-size: 1.2em;
  border-radius: 10px 10px 0px 0px;
  padding:  8px;
}

#extra > p {
  text-indent: 20px;
  text-align: justify;
}

ul {
  list-style-type: none;
}

#primeira-coluna {
  display: inline-block;
}
#segunda-coluna {
  display: inline-block;
}

li::before {
  content: "\2713"; /* código Unicode para o símbolo de check */
  margin-right: 5px; /* opcional, para adicionar espaço entre o símbolo e o texto */
}

footer {
  color: white;
  background-color: #1A5C38;
  text-align: center;
}

